
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0px;
    margin: 0px;
    
}
.backbody{
  background-color: #C0EEF2 ;
}
.foot{
  padding-top: 25px;
 }
.container {
    padding: 5px;
    margin: 5px;
    background-color: rgb(252, 233, 210);    
    display: flex;
    justify-content: center;
	  font-family: 'Roboto', sans-serif;
}
.header {
  padding: 5px;
  margin: 5px;
  width: auto;
  font-family: 'Roboto', sans-serif;
/*  background-color: rgb(252, 233, 210);  */
  background-image: linear-gradient(to right, #070135,#191825, #2B3467, #3A98B9 );
}

h2 {
    font-size: 65px;
    color: #ffffff;
    text-align: center;
    font: bold;
}
h5{
    font-size: 30px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
	  font-family: 'Roboto', sans-serif;
}

.mainbody{
    padding: 5px;
    margin: 5px;
  /*   height: 650px;
   background-image: linear-gradient(180deg, #AAE3E2, #f5e5f5, #FDEBED, 0.2);
     background-image: linear-gradient(135deg, #0873bd, #b68fd9, #ef4267);
   background-color: rgb(250, 236, 236);    */
}

.inputtext{
  border-top: 5px solid #2B3467;
  border-bottom: 5px solid #2B3467;
  border-radius: 40px;
  padding: 40px;
  margin: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  display:inline-block;
}

.content{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
	  font-family: 'Roboto', sans-serif;

}
.inputhead{
  padding: 5px;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.contentform{
    padding: 25px;
    margin: 25px;
    font-size: 24px;

}
.langform{
  background-color: rgb(117, 114, 110);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

input, textarea{	
/*  width: 1200px; */
	border: none;
	border-radius: 20px;
	outline: none;
  display:inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150ch;
	padding: 10px;
	font-size: 40px;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px rgb(117, 114, 110);	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
input:focus, textarea:focus{
	border: solid 3px rgb(253, 135, 0);	
} 

.databutton{
    width: 200px;
    height: auto;
    border: none;
    outline: none;
  /*  background: #AAE3E2; */
  background-image: linear-gradient(to right, #070135,#191825, #2B3467, #3A98B9 );
    color: #fff;
    font-size: 30px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 25px;
    margin: 20px;
}
.audioicon{
  border: none; /* Remove borders */
  color: rgb(94, 72, 194); /* White text */
/*   padding: 12px 16px; Some padding */
  font-size: 30px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  text-align: right;
  background-color: #C0EEF2;

}
.databutton:hover{
/*  background: #AAE3E2; */
background-image: linear-gradient(to right, #3A98B9, #2B3467,#191825, #070135 );
}
.active{
  background-image: linear-gradient(to right, #3A98B9, #2B3467,#191825, #070135 );
  transition: 1s;
}


.cardcontaner{
    padding: 5px;
    margin: 5px;
    /* background-color: rgb(250, 236, 236);   */
    display: flex;
    justify-content: center;
	  font-family: 'Roboto', sans-serif;
}


.o_cardcontaner{
  padding: 5px;
  margin: 5px;
  
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;

}

.o_btn{
  padding-top: 50px;
  margin-top: 50px;
}

.langgen{
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #2B3467;
  border-bottom: 5px solid #2B3467;
} 

.audply{
  border:5px solid #2B3467; 
/*  border-image: linear-gradient(45deg, #3A98B9, #2B3467,#191825, #070135); */
  border-radius: 50px; 
  width:700px; 
  height:40px;
} 


   /* The container must be positioned relative: */
   .custom-select {
    margin: 50px; 
    position: relative;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
  }
  
  .custom-select select {
    display: none;/* hide original SELECT element: */
    padding-bottom: 100px;
  }
  
  .select-selected {
    background-image: linear-gradient(to right, #2B3467, #3A98B9 );
  }
  .cardcontaner:after{
    padding-bottom: 100px;
  }
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;    
    padding-bottom: 100px;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
    appearance:none;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 30px;
    border-color: transparent transparent rgba(60, 250, 2, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-image: linear-gradient(to right, #2B3467, #3A98B9 );
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  } 
  
 
.footcard{
    padding: 5px;
    margin: 5px;
    background-color: #125c99;
    text-align: center;
}

.form-signin {
    padding: 15px;
    margin: 0 auto;
    align-items: center;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
    align-items: center;
  }

  .form-signin .checkbox {
    font-weight: normal;
  }

  

.radio-inline input[type="radio"]{
  position: absolute;
  margin-top: 5px;
  margin-left: -25px;
}

.radio-inline{
  position: relative;
  display: inline-block;
  padding: 25px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}

