<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

   <div>
    <div class="container header">
        <h2>Text to Speech Web App</h2>

    </div>
       
    <div class="mainbody">

      <form class="form-signin" method="post" action="/output">
        
          <div class="content">
            <label for="Description" class="sr-only">Text:</label>
            <br/>
              <textarea class="form-control" name="description" rows="5" id="comment" placeholder="Description" required></textarea>
          </div>
          <div class="content">
            <label for="inputName" class="sr-only">Language</label>
            <br/>
            <input type="text" id="inputName" name="language" class="genleng" placeholder="language" required autofocus>
          </div>
          <div class="content">
            <label for="inputName" class="sr-only">Gender</label>
            <br/>
            <input type="text" id="inputName" name="gender" class="genleng" placeholder="gender" required autofocus>
          </div>
          <div class=" content">
            <button id="btn">
                <p id="btnText">Submit</p>            
            </button>
        </div>  
        </form>
  
      </div>
              

    
    <div class="foot">
        <div class="container-fluid footcard">
            
            <a href="https://iisc.ac.in/" target="_blank">
                <img src="{{url_for('static', filename='assets/IISC.png')}}" alt="Indian Institute of Science, Bengaluru" width="93" height="100"> 
            </a>
            <a href="https://in.linkedin.com/company/spire-lab?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank">
                <img src="{{url_for('static', filename='assets/spire-lab.png')}}" alt="SPIRE LAB, Indian Institute of Science, Bengaluru" width="50" height="100"> 
            </a>

        </div>
        

    </div>
</div>
<script type="text/javascript">
    const btn = document.querySelector("#btn");
    const btnText = document.querySelector("#btnText");

    btn.onclick = () => {
        btnText.innerHTML = "Thanks";
        btn.classList.add("active");
    };
</script>
  </body>
</html>