<!DOCTYPE html>
<html>
  <head>
    <title>TTS Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

   <div>
    <div class="header">
        <h2>Text to Speech Web App</h2>

    </div>
       
    <div class="mainbody">

      <form class="form-signin" method="post" action="/output">
        
          <div class="content">
              <textarea rows="10" cols="100" name="description" id="comment" placeholder="Description" required></textarea>
          </div>
          <div class="cardcontaner content">
            <select class="dropdown langgendercard"name="language" method="GET" action="/">
                <option class="dropbtn dropdown-content" value="{{languages[0]}}" selected>{{languages[0]}}</option>
                {% for language in languages[1:] %}
                <option class="dropbtn dropdown-content" value="{{language}}">{{language}}</option>
                {% endfor %}
            </select>
            
            <select class="dropdown langgendercard" name="gender" method="GET" action="/">
                <option class="dropbtn dropdown-content" value="{{genders[0]}}" selected>{{genders[0]}}</option>
                {% for gender in genders[1:] %}
                <option class="dropbtn dropdown-content" value="{{gender}}">{{gender}}</option>
                {% endfor %}
            </select>
        </div>


<!--    <div class="cardcontaner content "> 
          <div class="cardlang">
            <label for="inputName" class="sr-only">Language</label>
            <br/>
            <input type="text" id="inputName" name="language" class="genleng" placeholder="language" required autofocus>
          </div>
          <div class="cardgender">
            <label for="inputName" class="sr-only">Gender</label>
            <br/>
            <input type="text" id="inputName" name="gender" class="genleng" placeholder="gender" required autofocus>
          </div>

        </div>
-->
          <div class=" content">
            <button id="btn">
                <p id="btnText">Submit</p>            
            </button>
        </div>  
        </form>
  
      </div>
              

    
    <div class="foot">
        <div class="container-fluid footcard">
            
            <a href="https://iisc.ac.in/" target="_blank">
                <img src="{{url_for('static', filename='assets/IISC.png')}}" alt="Indian Institute of Science, Bengaluru" width="93" height="100"> 
            </a>
            <a href="https://in.linkedin.com/company/spire-lab?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank">
                <img src="{{url_for('static', filename='assets/spire-lab.png')}}" alt="SPIRE LAB, Indian Institute of Science, Bengaluru" width="50" height="100"> 
            </a>

        </div>
        

    </div>
</div>
<script type="text/javascript">
    const btn = document.querySelector("#btn");
    const btnText = document.querySelector("#btnText");

    btn.onclick = () => {
        btnText.innerHTML = "Thanks";
        btn.classList.add("active");
    };
</script>
  </body>
</html>