<!DOCTYPE html>
<html>
  <head>
    <title>Text To Speech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
  <body>

   <div class="backbody">
    <div class="container header">
        <h2>MAKE COMPUTER SPEAK IN INDIAN LANGUAGES</h2>

    </div>
       
    <div class="mainbody">
        <div class="inputhead">
            <h3>Your Input Text is: </h3>
            <p class="inputtext" >{{ description }}</p>
        </div>
        <div class="o_cardcontaner">
                <p class="langgen"> Your choice is {{ language }} Language with {{ gender }} Voice.</p>
        </div>
        <div class="cardcontaner"> 
            <audio class="audply"
                controls >
                <!-- <source src="{{ file }}" type="audio/ogg"> -->
                <!-- <source src="{{ file }}" type="audio/mpeg"> -->
                <source src='../static/assets/temp.wav' type="audio/wav">
                Your browser does not support the audio tag.
            </audio> 
        </div>
        <form class="o_btn" action="/https://script.google.com/macros/s/AKfycbyHu38IMVI2b3jrfDOKpQpygE-VcByWuXjBdaMphJ0_T-BSTqsttMMVyKLD_bYSQDwz/exec" method="post" name="feedbackdata">
            <div >  
                <input class="" name="description" style="display:none" value="{{ description }}">
                <input class="" name="language" style="display:none" value="{{ language }}">
                <input class="" name="gender" style="display:none" value="{{ gender }}">
                <h5> How is the quality of Audio? </h5>
                <br>
                <div class="content"> 
                <label class="radio-inline">
                <input type="radio"
                      name="feedback" 
                      value="Like Human" >Like Human
                </label>
                <label class="radio-inline">
                    <input type="radio"
                      name="feedback" 
                      value="Slightly Robotic">Slightly Robotic
                </label>
                <label class="radio-inline">
                    <input type="radio"
                      name="feedback" 
                      value="Robotic">Robotic                
                </label>
                
                <label class="radio-inline">
                    <input type="radio"
                      name="feedback" 
                      value="Very Robotic">Very Robotic
                </label>
               
                <label class="radio-inline">
                    <input type="radio"
                      name="feedback" 
                      value="Bad Audio">Bad Audio
                </label>
                    </div>
              </div>

            <div class=" content">
                <button class="databutton" type="submit" id="btn">
                    <p id="btnText">Submit</p>            
                </button>
            </div>  
        </form>
       <a href="/" class="content"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i> </a>   
        
         
    </div>
     
    <div class="foot">
        <div class="container-fluid footcard">
            
            <a href="https://iisc.ac.in/" target="_blank">
                <img src="{{url_for('static', filename='assets/IISc_Reverse.jpg')}}" alt="Indian Institute of Science, Bengaluru" width="100" height="100"> 
            </a>
            <a href="https://in.linkedin.com/company/spire-lab?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank">
                <img src="{{url_for('static', filename='assets/spire-lab.png')}}" alt="SPIRE LAB, Indian Institute of Science, Bengaluru" width="50" height="100"> 
            </a>

        </div>
        

    </div>
</div>
        <script type="text/javascript">
       
            const scriptURL = 'https://script.google.com/macros/s/AKfycbyHu38IMVI2b3jrfDOKpQpygE-VcByWuXjBdaMphJ0_T-BSTqsttMMVyKLD_bYSQDwz/exec'
			const form = document.forms['feedbackdata']
		  
			form.addEventListener('submit', e => {
			  e.preventDefault()
			  fetch(scriptURL, { method: 'POST', body: new FormData(form)})
               
				.then(response => alert("Thank you!" ))
				.then(() => {  window.location.reload(); })
				.catch(error => console.error('Error!', error.message))
			})
            
        </script>
  </body>
</html>