<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

   <div class="backbody">
    <div class="container header">
        <h2>Text to Speech Web App</h2>

    </div>
       
    <div class="mainbody">
        <div class="inputhead">
            <h3>Your Input Text is: </h3>
            <p class="inputtext">{{ description }}</p>
        </div>
        <div class="o_cardcontaner">
                <p class="langgen"> Your choice is {{ language }} Language with {{ gender }} Voice.</p>
        </div>
        <div class="cardcontaner"> 
            <audio class="audply"
                controls >
                <!-- <source src="{{ file }}" type="audio/ogg"> -->
                <!-- <source src="{{ file }}" type="audio/mpeg"> -->
                <source src='../static/assets/temp.wav' type="audio/wav">
                Your browser does not support the audio tag.
            </audio> 
        </div>
        <form class="o_btn" action="/">

            <div> 
                <p> How are you Sathvik and AmartyaVeer? </p>
                
                <br>
                <input type="radio"
                      name="feedback" 
                      value="fine"  checked="checked">Fine
                
                <input type="radio"
                      name="feedback" 
                      value="ok">Ok
               
                <input type="radio"
                      name="feedback" 
                      value="as usual">As Usual
                
                <input type="radio"
                      name="feedback" 
                      value="chill">Chill
                
                <input type="radio"
                      name="feedback" 
                      value="Struggling">Struggling
              </div>

            <div class=" content">
                <button id="btn">
                    <p id="btnText">Wanna Try Again</p>            
                </button>
            </div>  
        </form>
         
    </div>
     
    <div class="foot">
        <div class="container-fluid footcard">
            
            <a href="https://iisc.ac.in/" target="_blank">
                <img src="{{url_for('static', filename='assets/IISc_Reverse.jpg')}}" alt="Indian Institute of Science, Bengaluru" width="100" height="100"> 
            </a>
            <a href="https://in.linkedin.com/company/spire-lab?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank">
                <img src="{{url_for('static', filename='assets/spire-lab.png')}}" alt="SPIRE LAB, Indian Institute of Science, Bengaluru" width="50" height="100"> 
            </a>

        </div>
        

    </div>
</div>
        <script type="text/javascript">
            const btn = document.querySelector("#btn");
            const btnText = document.querySelector("#btnText");

            btn.onclick = () => {
                btnText.innerHTML = "Reload the Page";
                btn.classList.add("active");
            };
        </script>
  </body>
</html>